<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net48" />
  <package id="Hardware.Info" version="101.0.1" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="NAudio" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Asio" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Core" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Midi" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Wasapi" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.WinForms" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.WinMM" version="2.2.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="SimpleTCP" version="1.0.24" targetFramework="net48" />
  <package id="System.CodeDom" version="9.0.2" targetFramework="net48" />
  <package id="System.Diagnostics.PerformanceCounter" version="8.0.0" targetFramework="net48" />
  <package id="System.Management" version="9.0.2" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
</packages>